{% extends 'base.html' %}

{% block contenido %}
    <ul>
        <li>Libro 1</li>
        <li>Libro 2</li>
        <li>Libro 3</li>
        <li>Libro 4</li>
        <li>Libro 5</li>
    </ul>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>
<body>
    <ul>
        <li>Libro1</li>
        <li>Libro2</li>
        <li>Libro3</li>
        <li>Libro4</li>
        <li>Libro5</li>
    </ul>
</body>
</html> -->